h1,
h2,
h3,
h4 {
  font-family: OpenSans;
}
.large {
  font-family: OpenSans;
}
body {
  margin: 0;
  background-color: #060014;
  font-family: OpenSans;
}
.navbar {
  display: block;
  width: 100vw;
  height: 50px;
}
.navbar ul {
  list-style-type: none;
}
.menu {
  position: absolute;
  display: flex;
  align-items: center;
  right: 30px;
  gap: 30px;
  align-self: center;
  margin-left: auto;
  margin-right: 2em;
}
.menu .menu-button a {
  color: azure;
  text-decoration: none;
  font-family: OpenSans;
}
.menu .menu-search .search-container {
  position: relative;
  display: inline-block;
}
.menu .menu-search .search-container .search-input {
  width: 100%;
  padding: 10px 0 10px 15px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  outline: none;
}
.menu .menu-search .search-container .search-input::placeholder {
  color: #aaa;
}
.menu .menu-search .search-container .search-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  /* Смещение от правого края */
  transform: translateY(-50%);
  width: 18px;
  /* Размер иконки */
  height: 18px;
  background: url('data:image/svg+xml;utf8,\
    <svg xmlns="http://www.w3.org/2000/svg" fill=\'%23aaa\' viewBox=\'0 0 24 24\'><path d=\'M21 20l-5.6-5.6a7 7 0 1 0-1.4 1.4L20 21zM10 16a6 6 0 1 1 0-12 6 6 0 0 1 0 12z\'/></svg>') no-repeat center;
  background-size: contain;
  pointer-events: none;
  /* Чтобы иконка не мешала вводу */
}
.main-button {
  padding: 10px 50px 10px 50px;
  border-radius: 40px;
  font-family: OpenSans;
  color: azure;
  background-color: transparent;
  font-size: 18pt;
}
.main-button:hover {
  cursor: pointer;
}
.purple-button {
  background-color: #8824cd;
  border-width: 0;
}
.purple-button:hover {
  background-color: #8222c4;
}
.main-page {
  position: relative;
  background-image: url("../assets/page_1_backgroound.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.main-page .main-page-content {
  display: inline-flex;
  justify-content: right;
  flex-direction: column;
  align-items: end;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  -ms-transform: translate(-10%, -50%);
  transform: translate(-10%, -50%);
}
.main-page .main-page-content-title-container .main-page-content-title {
  display: inline-block;
  color: azure;
  justify-self: right;
  font-size: 50pt;
  line-height: 70pt;
  text-align: right;
}
.main-page .main-page-get-started-button {
  display: inline-block;
  margin-top: 1em;
}
.main-page .main-page-info {
  color: azure;
  margin-top: 0.5em;
}
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
.text-section {
  background-color: #2b3544;
  padding: 50px 20px;
  color: #ffffff;
}
.text-section .container {
  display: flex;
  gap: 4em;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}
.text-section .container .column {
  flex: 1 1 45%;
  margin-bottom: 20px;
}
.text-section .container .column h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
}
.text-section .container .column p {
  line-height: 1.6;
  font-size: 0.9em;
  color: #ffffff;
  text-align: justify;
  /* Выравнивание по ширине */
  text-align-last: left;
}
.cta-section {
  text-align: center;
  color: #ffffff;
}
.cta-section .container h2 {
  margin: 0 0 15px;
  font-size: 2em;
}
.cta-section .container p {
  margin: 0 0 25px;
  font-size: 1em;
  color: #ffffff;
  text-align: justify;
}
.cta-section .container .cta-button {
  background-color: #ffffff;
  color: #d54356;
  border: none;
  font-size: 1em;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}
.cta-section .container .cta-button:hover {
  background-color: #e6e6e6;
}
.forest-section {
  position: relative;
  background-image: url("../assets/forest.jpg");
  padding-top: 10em;
  padding-bottom: 10em;
}
.forest-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
}
.forest-section p {
  display: block;
  text-align: justify;
  text-align-last: center;
  max-width: 30em;
}
.forest-section .cta-button {
  padding: 1em 3.5em 1em 3.5em;
}
.handwritten-section,
.handwritten-section-2 {
  position: relative;
  background-color: white;
  color: #3a4d60;
  min-height: 200px;
}
.handwritten-section .container,
.handwritten-section-2 .container {
  display: flex;
  flex-direction: row;
  gap: 5em;
}
.handwritten-section .container .image,
.handwritten-section-2 .container .image {
  width: 629px;
  background-image: url("../assets/about_bacground.jpg");
}
.handwritten-section .container .content-container,
.handwritten-section-2 .container .content-container {
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 3em;
}
.handwritten-section .container .content-container h3,
.handwritten-section-2 .container .content-container h3 {
  text-align: left;
}
.handwritten-section .container .content-container p,
.handwritten-section-2 .container .content-container p {
  color: #3a4d60;
  max-width: 600px;
  text-align: left;
}
.handwritten-section .container .content-container .smaller-text-content,
.handwritten-section-2 .container .content-container .smaller-text-content {
  font-size: 0.9em;
}
.handwritten-section-2 .container {
  flex-direction: row-reverse;
}
.handwritten-section-2 .container .image {
  width: 629px;
  background-image: url("../assets/about_image.jpg");
}
.rush-section {
  display: block;
  background-image: url("../assets/book_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.rush-section .container {
  background-color: rgba(78, 34, 94, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
}
.rush-section .container h2 {
  font-weight: lighter;
}
.rush-section .container button {
  display: inline-block;
  max-width: 300px;
}
.rush-section .container p {
  color: #a87bb7;
  max-width: 600px;
}
.rush-section .container .smaller-text-content {
  margin-top: 1em;
  color: white;
  font-size: 0.8em;
}
.photo-section {
  background-image: url("../assets/post_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.photo-section .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 20em;
  padding-left: 9em;
  padding-bottom: 4em;
}
.photo-section .container button:hover {
  background-color: rgba(200, 200, 200, 0.4);
}
.photo-section .container .profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.photo-section .container .profile-container .ava {
  background-image: url("../assets/ava.png");
  width: 45px;
  height: 45px;
}
.photo-section .container .profile-container p {
  margin: 0;
}
.get-in-touch-section {
  background-color: #e7526b;
}
.get-in-touch-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100vw;
  padding-top: 5em;
  padding-bottom: 8em;
  padding-left: 4em;
  max-width: 500px;
}
.get-in-touch-section .container h3 {
  display: block;
  width: 100%;
  text-transform: uppercase;
  text-align: left;
}
.get-in-touch-section .container p {
  width: 100%;
  text-align: left;
}
.get-in-touch-section .container .email a {
  color: white;
}
.footer-section {
  background-color: #313b4e;
}
.footer-section .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
  width: 100vw;
  padding-top: 3em;
  padding-bottom: 8em;
  padding-left: 4em;
}
.footer-section .container p {
  display: block;
  font-size: 0.8em;
}
/*# sourceMappingURL=main.css.map */